table {
    /* display: flex; */
    width: 100%;
    /* background-color: red; */
    /* border: 1px solid; */
}

th {
    border: 1px solid;
    padding: 10px;
    margin: 0px;
}

td {
    margin: 20px;
    border-bottom: 2px solid;
}